.nav {
  display: flex;
  position: relative;
  justify-content: space-between;

  & a {
    text-decoration: none;
  }

  & > div {
    width: 35%;
  }
  & ul {
    list-style: none;
    display: flex;
    padding-left: 0px;
  }
}
.svgLeft {
  height: 30px;
  width: 100px;
  transform: rotate(90deg);
  fill: aliceblue;
}
.svgRight {
  height: 30px;
  width: 100px;
  transform: rotate(-90deg);
  fill: aliceblue;
}

div.lighter {
  font-weight: lighter;
}
.link-data1,
.link-data2 {
  position: relative;
  top: -21px;
}
.link-data2 {
  text-align: right;
}
